body {
    background-color: rgb(172, 184, 196);
    font-family: Arial, Helvetica, sans-serif;
    max-height: 50vh;
}
.header {
    text-align: center;
    background: #32537f;
    padding: 10px;
    

}
ul{
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
header {
    background-color: steelblue;
    border-radius: 10px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #a2a2a2 solid;
    justify-content: center;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    padding: 30px 20px;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 16px;
}
header nav ul li :hover {
    color: brown;
}
main {
    text-align: center;
}
.home {
    background: #32537f;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    max-width: 900px;
}
footer {
    text-align: center;
    background: #32537f;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    max-width: 900px;
    color: white;
}